services:
  musicshack:
    build: .
    depends_on:
      database:
        condition: service_healthy
    restart: unless-stopped
    user: "1000:1000"
    networks:
      - musicshack
    ports:
      - "8080:8080"
    volumes:
      - ./users:/users
    environment:
      URL: http://localhost
      PORT: 8080
      DOWNLOAD: /downloads
      JWT_SECRET: ${JWT_SECRET}
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  database:
    image: postgres:16
    # networks:
    #   - musicshack
    ports:
      - "5432:5432"
    volumes:
      - ./db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  musicshack:
    driver: bridge
