services:
  client_web:
    build: ./client_web
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - "5173:5173"
    environment:
      PUBLIC_BACKEND_URL: ${BACKEND_URL}
      PORT: 5173

  server:
    build: ./server
    restart: unless-stopped
    user: "1000:1000"
    ports:
      - "8080:8080"
    volumes:
      - ./server/db:/app/db
      - ./users:/users
    environment:
      URL: ${BACKEND_URL}
      JWT_SECRET: ${JWT_SECRET}

