services:
  musicshack:
    image: ghcr.io/dimitrilapoudre/musicshack:latest
    container_name: musicshack
    ports:
      - "${PORT}:8080"
    volumes:
      - ${LIBRARY_PATH}:/downloads
    environment:
      HTTPS: ${HTTPS}
      LIBRARY_PATH: /downloads
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      POSTGRES_HOST: database
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    restart: unless-stopped
    depends_on:
      database:
        condition: service_healthy

  database:
    image: postgres:16
    restart: unless-stopped
    volumes:
      - db:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db:
